# __Data Science and the Ecosystem__

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages used in Data Science
* Identify common libraries us by Data Scientists
* Examples of data science tools
* Examples of computation code used through Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. NumPy
4. SciPy

|Data Science Tools|
--------------------
Data Management - cassandra, Hadoop
Operating System - RStudio, Jupyter
Integration & Transformation -- kafka, Spark SQL
Data Visualization - Tableau, PowerBi, PixieDust
Code Assets - GitHub, BitBucket, Git

### Below are a few examples of evaluating arithmetic expressions in Python

In [46]:
# Addition
1+9

10

In [48]:
# Division
64/8

8.0

In [50]:
# Arithmetic example
(18/3)+(4+1)

11.0

In [52]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [54]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ty Garoutte